<div class="ui seven wide column" style="margin-bottom: 30px;">
  <table class="ui celled table">
    <thead>
      <tr class="center aligned">
        <th>ID</th>
        <th>핸드폰 번호</th>
        <th>개인정보 수집 동의</th>
        <th>전송된 인증번호</th>
        <th>생성 날짜</th>
        <th>인증 여부</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @phone_number_lists.each do |number| %>
      <%= render 'phone_number_list', number: number %>
    <% end %>
    </tbody>
  </table>
</div>
